# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
del_not_needed_folder.bat
update_to_git.bat
/02_DrawTriangle/02_DrawTriangle/x64
/01_CreateDevice/01_CreateDevice/x64
/03_Texture/03_Texture/x64
*.ipch
*.exp
/03_Texture/.vs
*.ilk
*.log
*.recipe
*.tlog
/02_DrawTriangle_SysMem/Win32
/03_DrawTriangle_GpuMem/Win32
/01_CreateDevice/Win32
/04_Texture/.vs
/04_Texture/Win32
