# included folder
!DirectXTex/DirectXTex/Bin/Desktop_2022/
!D3D12/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.ipch
*.exp
*.ilk
*.log
*.recipe
*.tlog
*.vspscc
*.user
*.vssscc
*.pdb

# folders
.vs/
packages/
debug/
release/
x64/
win32/

# specific files
del_not_needed_folder.bat
update_to_git.bat# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.ipch
*.exp
*.ilk
*.log
*.recipe
*.tlog
*.vspscc
*.user
*.vssscc

# specific files
del_not_needed_folder.bat
update_to_git.bat
del_not_needed_folder직업호출하지말것\!\!\!.txt


